/*

0-600px;            Phone
600-900px;          Tablet Potrait
900-1200px;         Tablet Landscape
1200-1800px;        Normal styles apply  
1800-;              Large Desktops
 
$breakpoint argument choices :
-phone
-tab-port
-tab-land
-big-desktop
*/
/*

selector {

  @include repond(breakpoint) {
    property: value;
  }
}

 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 0.8;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f6f6f6; }

.starter-text-box {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  width: 60vh;
  text-align: center;
  padding: 4rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(5deg) skewY(5deg);
  border-radius: 5px;
  color: #f6f6f6;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: 1rem 0 2rem 0.5rem rgba(0, 0, 0, 0.2); }
  .starter-text-box h1 {
    transform: skewX(-9deg) skewY(-9deg);
    text-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 1.6rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }
